<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<header layout:fragment="header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
<!--                <div class="main-logo">-->
<!--                    <a th:href="@{/}"><img src="images/main-logo.png" alt="logo"></a>-->
<!--                </div>-->
            </div>
            <div class="col-md-10">
                <nav id="navbar">
                    <div class="main-menu stellarnav">
                        <ul class="menu-list">
                            <li class="menu-item active"><a th:href="@{/}">Home</a></li>
                            <li class="menu-item has-sub">
                                <a href="#" class="nav-link">Pages</a>
                                <ul>
<!--                                    <li><a th:href="@{/about}">About</a></li>-->
<!--                                    <li><a th:href="@{/blog}">Blog</a></li>-->
                                    <li><a th:href="@{/our-store}">Our Store</a></li>
                                    <li><a th:href="@{/category}">Category</a></li>
                                    <li><a th:href="@{/contact}">Contact</a></li>
<!--                                    <li><a th:href="@{/thankyou}">Thank You</a></li>-->
                                </ul>
                            </li>
<!--                            <li class="menu-item"><a th:href="@{/featured-books}">Featured</a></li>-->
<!--                            <li class="menu-item"><a th:href="@{/popular-books}">Popular</a></li>-->
<!--                            <li class="menu-item"><a th:href="@{/special-offer}">Offer</a></li>-->
<!--                            <li class="menu-item"><a th:href="@{/latest-blog}">Articles</a></li>-->
<!--                            <li class="menu-item"><a th:href="@{/download-app}">Download App</a></li>-->
                        </ul>
                        <div class="hamburger">
                            <span class="bar"></span>
                            <span class="bar"></span>
                            <span class="bar"></span>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
</html>

